* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffae00;
}

.console {
    margin-top: 30px;
    background-color: #ffae00;
}

.gameboy {
    display: block;
    margin: 30px auto;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #f1c40f;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.controls button:hover {
    background-color: #f39c12;
}

.game-board {
    width: 80%;
    height: 500px;
    border-radius: 25px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 130px;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0s;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}